<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_app.mappers.BookMapper">
    <!-- 結果と結果を受け取るクラスの紐づけ -->
	<resultMap id="bookResultMap" type="com.example.spring_app.domains.Book">
      <result property="id" column="id" />
      <result property="title" column="title"/>
      <result property="body" column="body"/>
    </resultMap>
    <!-- SQL -->
    <select id="all" resultMap="bookResultMap">
    	SELECT * FROM books;
    </select>
    <select id="show" resultMap="bookResultMap" parameterType="int">
    	SELECT * FROM books WHERE id = #{book_id};
    </select>
    <insert id="add" parameterType="com.example.spring_app.domains.Book">
    	INSERT INTO books(title, body) VALUES (#{title}, #{body});
    </insert>
    <update id="update" parameterType="com.example.spring_app.domains.Book">
    	UPDATE books SET title = #{title}, body = #{body} 
    	WHERE id = #{id};
    </update>
    <delete id="delete">
    	DELETE FROM books WHERE id = #{book_id};
    </delete>
</mapper>